@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .dropdown-btn {
    @apply hover:bg-[#3b4db8] hover:text-white  cursor-pointer rounded-sm px-2 py-[.375rem] outline-none;
  }
  .dropdown-btn-danger {
    @apply hover:bg-[#d92f36] hover:text-white  cursor-pointer rounded-sm px-2 py-[.375rem] outline-none;
  }
  .dropdown-btn-sub {
    @apply hover:bg-[#3b4db8] hover:text-white  cursor-pointer;
  }
}

body {
  background: theme('colors.slate.600');
  color: theme('colors.slate.50');
}

@property --shimmer-angle {
  syntax: '<angle>';
  initial-value: 0deg;
  inherits: false;
}

@keyframes shimmer {
  0% {
    --shimmer-angle: 0deg;
  }

  100% {
    --shimmer-angle: 360deg;
  }
}
